* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 90px;
    align-items: center;
  }
  
  .navbar-nav-logo {
    display: flex;
    flex: 1;
    padding-bottom: 16px;
  
  }
  
  .navbar-nav-links-container {
    display: flex;
    flex: 4;
  }
  
  .navbar-nav-links-container a {
    text-decoration: none;
    color: hsl(219, 9%, 45%); 
    position: relative;
    font-weight: 500;
  }
  .navbar-nav-links-container a:hover {
    color: rgb(0, 0, 0); 
  }
  
  .navbar-nav-links-container p {
    padding-left: 30px;
  }

  
  .navbar-cart-avatar {
    display: flex;
    justify-content: end;
    flex: 1;
    align-items: center;
    position: relative;
  }
  
  .navbar-avatar {
    height: 40px;
    margin-left: 35px;
  }
  
  .navbar-avatar:hover {
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: 50px;
    cursor: pointer;
    
  }
  
  .navbar-cart {
    cursor: pointer;
  }
  
  .navbar-icon {
    display: none;
  }
  
  .navbar-border {
    border-bottom: 1px solid hsl(220, 14%, 90%);
    width: 80%;
    margin: 0 auto 30px;
  }
  
  /* Underline Stroke */
  @media screen and (min-width: 951px) {
    .navbar-nav-links-container a {
      position: relative;
    }
    .navbar-nav-links-container a:after {
      content: "";
      height: 5px;
      width: 0%;
      background: hsl(26, 100%, 55%);
      position: absolute;
      bottom: -40px;
      right: 0%;
      transition: 0.5s;
    }
  
    .navbar-nav-links-container a:hover:after {
      width: 100%;
      left: 0%;
      
    }
  }
  
  .navbar-cart--active {
    z-index: 10;
    position: absolute;
    background-color: white;
    height: 220px;
    width: 350px;
    top: 80px;
    right: 3%;
    border-radius: 10px;
    box-shadow: 0px 11px 50px -21px rgba(0, 0, 0, 0.99);
  }
  
  .navbar-cart-title {
    padding: 20px;
    border-bottom: 1px solid hsl(220, 14%, 90%);
  }
  
  .navbar-cart--show-empty {
    display: flex;
    width: 50%;
    height: 160px;
    margin: auto;
    color: hsl(219, 9%, 45%);
    font-weight: 700;
  }
  
  @media screen and (max-width: 1024px) {
    .navbar-nav-links-container {
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 950px) {
    .navbar {
      width: 90%;
    }
  
    .navbar-icon {
      display: flex;
      align-items: center;
      flex: 1;
      cursor: pointer;
    }
  
    .navbar-nav-logo {
      flex: 8;
    }
  
    .navbar-cart-avatar {
      flex: 2;
    }
  
    .navbar-nav-links-container.mobile {
      display: flex;
      width: 50%;
      height: 90vh;
      justify-content: start;
      position: absolute;
      top: 10vh;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      background: white;
      font-weight: 700;
      padding: 25px;
    }
  
    .navbar-nav-links-container.mobile a {
      color: black;
    }
  
    .navbar-nav-links-container.mobile p {
      padding: 15px 0;
    }
  
    .navbar-nav-links-container.mobile.active {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 30;
    }
    .navbar-border {
      display: none;
    }
  }
  
  @media screen and (max-width: 510px) {
    .navbar-nav-logo {
      flex: 5;
    }
  
    .navbar-cart--active {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 110px;
      width: 90%;
    }
   
  }
  
  @media screen and (max-width: 370px) {
    .navbar-cart-image {
      display: none;
    }
    .navbar-cart--active {
      width: 100%;
    }
    .navbar-cart--show-empty {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .navbar {
      width: 95%;
    }
    .navbar-nav-logo {
      height: 20px;
    }
    .navbar-avatar {
      height: 30px;
      padding: 0;
      margin-left: 20px;
    }
    .navbar-nav-links-container.mobile a {
      font-size: 14px;
    }
    
  }
  